# TP2 -- Approches collaboratives : utilisateur-utilisateur, item-item, et agglomérative

Le travail doit être fait en **équipe de deux**. Vous trouverez l'énoncé du TP2 [ici](https://cours.polymtl.ca/MDesmarais/log6308/Tp/20231/tp2.html). <br>
*Mettez vos noms et vos matricules ici.*

In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns

#### Charger les Données

In [3]:
# votes
votes = pd.read_csv('Data/votes.csv')

In [5]:
## Matrice Utilisateur Item
MUI = votes.pivot(index="user.id", columns="item.id", values="rating")
MUI.head()

item.id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user.id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Question 1 - SVD (7.5 pts)

In [ ]:
# Vous pouvez utiliser np.linalg.svd pour effectuer la SVD

## Question 2 - K-Means (7.5 pts)

In [ ]:
# Vous pouvez utiliser la fonction kmeans de pyclustering:
# from pyclustering.cluster.kmeans import kmeans
# Elle permet d'utiliser la corrélation comme mesure de distance, contrairement à Sickit-learn
# ex :
# define a custom metric
# metric = distance_metric(type_metric.USER_DEFINED, func=pearson_dist)

## Question 3 - Approche Bayésienne (5 pts)

## Bonus (5 pts)